@inherits ViewBase<dynamic>
@using z.MVC5.Views
@{
    Layout = null;
}
@{
    WebFiles = new string[] {
              @"Content/Login/reset.css",
              @"Content/Login/style.css",
              @"Content/Login/supersized.css",
              @"Content/Login/font-awesome.min.css",
                @"Content/Login/jigsaw.css",
                     "Content/jquery.min.js",
                    "Content/zBase.js",
                    "Content/AjaxHelper.js",
                    "Content/JsHelper.js",
                    "Content/PageBase.js",
                    @"Content/Login/jigsaw.js",
                     @"Content/Login/supersized.3.2.7.min.js",
                };
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/Content/ui/img/yxlogoTitle.png" type="image/x-icon">
    <title>商云登录</title>
    <script type="text/javascript">
        __ControllerUrl = '@ViewBag.ControllerUrl';
        __CommonControllerUrl = '@ViewBag.CommonControllerUrl';
        __PortalBaseUrl = '@ViewBag.BaseUrl';
    </script>
    @InitFiles(WebFiles)
    @InitThisJs()
</head>
<body>

    <div class="page-container">  
        <h1>商云购物中心管理系统</h1>
            <form class="form">
                <div class="row">
                    <i class="fa fa-user"></i>
                    <input type="text" name="username" class="username" placeholder="账号" />
                </div>
                <div class="row">
                    <i class="fa fa-key"></i>
                    <input type="password" name="password" class="password" placeholder="密码" />
                </div>
                <div id="captcha" style="position: relative"></div>
                <div id="msg"> &nbsp;</div>
            </form>
    </div>
</body>
</html>
