@inherits ViewBase<dynamic>
@using z.MVC5.Views
@{
    Layout = null;
}
@{
    WebFiles = new string[] {
            "Content/Base.css",
            "Content/jquery.min.js",
            "Content/zBase.js",
            "Content/AjaxHelper.js",
            "Content/JsHelper.js",
            "Content/PageBase.js",
            "Content/VUE/styles/iview.css",
            "Content/VUE/vue.js",
            "Content/VUE/iview.js"
                };
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
        __ControllerUrl = '@ViewBag.ControllerUrl';
        __CommonControllerUrl = '@ViewBag.CommonControllerUrl';
        __BaseUrl = '@ViewBag.BaseUrl';
    </script>
    @InitFiles(WebFiles)
    <title>修改密码</title>
</head>
<body>
    <div id="passWord">
        <row>
            <i-col span="2" class="RowTitle">
                新密码
            </i-col>
            <i-col span="6">
                <i-input type="password" v-model="psw1">
            </i-col>
        </row>
        <row>
            <i-col span="2" class="RowTitle">
                再次确认新密码
            </i-col>
            <i-col span="6">
                <i-input type="password" v-model="psw2">
            </i-col>
        </row>
        <row>
             <i-button v-on:click="sure">确认</i-button>
        </row>
    </div>
    @InitThisJs()
    @*vue中js引用必须在页面渲染底部引用*@
</body>
</html>
