@inherits ViewBase<dynamic>
@using z.ERP.Web.Areas.Share.Render
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                    "Content/VUE/styles/iview.css",
                    "Content/VUE/vue.js",
                    "Content/VUE/iview.js",
                    "Areas/Layout/Define/_DefineLayout.js"
                };
}
@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)
}

<div id="def_Main">
    <row class="topbutton">

        @{
            RenderControl(new ButtonRender()
            {
                Click = "seachList",
                Text = "查询",
                Enable = true,
                Type= "primary"
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "add",
                Text = "新增",
                Enable = true,
                Type = "primary"
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "mod",
                Text = "修改",
                Enable = true,
                Type = "primary"
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "save",
                Text = "存档",
                Enable = false,
                Type = "primary"
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "quit",
                Text = "放弃",
                Enable = false,
                Type = "warning"
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "del",
                Text = "删除",
                Enable= true,
                Type = "error"
            });
        }
    </row>
    <row>
        <i-col span="8">
            <div ref="tableHeight">
                <card style="height:100%">
                    <p slot="title">列表信息</p>
                    <div style="height:10%">
                        @RenderSection("search", false)
                    </div>
                    <i-table :highlight-row="true" size="small" border="true"  height="500"
                             :columns="screenParam.colDef" :data="screenParam.dataDef"
                             v-on:on-current-change="showlist"></i-table>

                </card>
            </div>
        </i-col>

        <i-col span="16">
            <div ref="cardHeigth">
                <card class="elementcard" style="height:100%">
                    <p slot="title">包含元素</p>
                    @RenderSection("element", true)
                </card>
            </div>
        </i-col>
    </row>

    <div class="hide">
        @RenderSection("hide", false)
    </div>
</div>


@section foot{
    @RenderSection("foot", false)
}