@inherits ViewBase<DefineRender>
@using z.ERP.Web.Areas.Layout.Define
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                    "Areas/Layout/Define/_DefineLayout.js"
                };
}
@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)

    <style>
        #define {
            overflow: hidden;
            height: 100%;
        }

            #define .topMenuBtn {
                height: 35px;
                text-align: left;
                line-height: 35px;
                background: #2d8cf0;
                padding-left: 10px;
                line-height: 35px;
            }

                #define .topMenuBtn .ivu-btn {
                    color: #fff;
                }

                    #define .topMenuBtn .ivu-btn:hover {
                        color: #000000;
                    }

            #define .contentSplit {
                height: calc(100% - 35px);
                overflow: hidden;
                width: 100%;
            }

            #define .ivu-split-pane {
                overflow: auto;
            }

            #define .rightPane {
                padding-top: 8px;
                overflow-x: hidden;
                overflow-y: auto;
                height: 100%;
            }

            #define .leftPane {
                overflow: hidden;
                height: 100%;
            }

                #define .leftPane .paramDivCon {
                    margin: 8px;
                }

            #define .ivu-table-wrapper {
                height: 100%;
            }

                #define .ivu-table-wrapper .ivu-table-body {
                    overflow: auto;
                    height: calc(100% - 95px);
                }
    </style>
}

<div id="define" v-cloak>
    <div class="topMenuBtn">
        <yx-tool-bar v-bind:list="toolBtnList" v-bind:disabled="disabled" v-bind:domdata="dataParam"></yx-tool-bar>
    </div>
    <div class="contentSplit">
        <Split v-model="splitVal">
            <div slot="left" class="leftPane">
                <div class="paramDivCon">
                    @RenderSection("search", false)
                </div>

                <yx-table v-bind:columns="columns" v-bind:data="data" v-bind:highlightrow="highlightRow"
                          v-on:currentChange="currentChange" v-bind:loading="tbLoading" ref="selectData">
                </yx-table>
            </div>
            <div slot="right" class="rightPane">
                @RenderSection("element", true)
            </div>
        </Split>
    </div>

    <yx-modal v-bind:src="popConfig.src" v-bind:title="popConfig.title"
              v-bind:width="popConfig.width" v-bind:height="popConfig.height"
              v-bind:modal-visible.sync="popConfig.open"></yx-modal>

    <div class="hide">
        @RenderSection("hide", false)
        @RenderSection("pops", false)
    </div>
</div>

@section foot{
    @RenderSection("foot", false)
}