@inherits ViewBase<DefineRender>
@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Web.Areas.Layout.Define
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                    "Areas/Layout/Define/_DefineLayout.js"
                };
}
@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)

    <style>
        #def_Main {
            overflow: hidden;
            height: 100%;
        }

            #def_Main .topMenuBtn {
                height: 35px;
                text-align: right;
                line-height: 35px;
                background: #2d8cf0;
                padding-right: 10px;
            }

            #def_Main .contentSplit {
                height: calc(100% - 35px);
                overflow: hidden;
                width: 100%;
            }

            #def_Main .ivu-split-pane {
                overflow: auto;
            }
            
             #def_Main .rightPane {
                padding-top:8px;
            }
            #def_Main .leftPane {
                overflow: hidden;
                height: 100%;
            }

                #def_Main .leftPane .paramDivCon {
                    margin:8px;
                }
    </style>
}

<div id="def_Main">
    <div class="topMenuBtn">
        @{
            RenderControl(new ButtonRender()
            {
                Click = "seachList",
                Text = "查询",
                Enable = true,
                Type = "primary",
                Invisible = (Model?.Invisible_Srch).GetValueOrDefault(),
                Icon = "md-search"
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "add",
                Text = "新增",
                Enable = true,
                Type = "primary",
                Invisible = (Model?.Invisible_Add).GetValueOrDefault(),
                PermissionKey = Model?.Permission_Add,
                Icon = "md-add"
            });
        }
        <span v-show="topbtnModVisible">
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "mod",
                    Text = "修改",
                    Enable = true,
                    Type = "primary",
                    PermissionKey = Model?.Permission_Mod,
                    Icon = "md-create"
                });
            }
        </span>
        @{
            RenderControl(new ButtonRender()
            {
                Click = "save",
                Text = "存档",
                Enable = false,
                Type = "primary",
                //PermissionKey =Model?.Permission_Save,
                Icon = "md-checkmark-circle"
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "quit",
                Text = "放弃",
                Enable = false,
                Type = "warning",
                Icon = "md-close"
            });
        }
        @*@{
                RenderControl(new ButtonRender()
                {
                    Click = "del",
                    Text = "删除",
                    Enable= true,
                    Type = "error",
                    Icon = "md-trash"
                });
            }*@
        <span v-show="topbtnChkVisible">
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "chk",
                    Text = "审核",
                    Enable = true,
                    Type = "primary",
                    Invisible = (Model?.Invisible_Chk).GetValueOrDefault(),
                    PermissionKey = Model?.Permission_Chk,
                    Icon = "md-checkmark"
                });
            }
        </span>
    </div>
    <div class="contentSplit">
        <Split v-model="splitVal">
            <div slot="left" class="leftPane">   
                <div class="paramDivCon">
                    @RenderSection("search", false)
                </div>

                <yx-table v-bind:columns="columns" v-bind:height="600" v-bind:data="data" 
                          v-on:currentChange="currentChange" ref="selectData">
                </yx-table>
            </div>
            <div slot="right" class="rightPane">
                @RenderSection("element", true)
            </div>
        </Split>
    </div>

    <div class="hide">
        @RenderSection("hide", false)
        @RenderSection("pops", false)
    </div>
</div>

@section foot{
    @RenderSection("foot", false)
}