@inherits ViewBase<dynamic>
@using z.ERP.Web.Areas.Share.Render
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                    "Content/VUE/styles/iview.css",
                    "Content/VUE/vue.js",
                    "Content/VUE/iview.js",
                    "Areas/Layout/Define/_DefineLayout.js"
                };
}
@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)
}
<style>
    .RowTitle { text-align: right; font-size: small; }
    .elementcard .ivu-row { height: 50px; }
    .topbutton .ivu-btn { margin-left: 10px; }
</style>

<div id="def_Main">
    <row class="topbutton">

        @{
            RenderControl(new ButtonRender()
            {
                Click = "seachList",
                Text = "查询",
                Enable = true
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "add",
                Text = "新增",
                Enable = true
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "mod",
                Text = "修改",
                //Enable = false
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "save",
                Text = "存档",
                Enable = false
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "quit",
                Text = "放弃",
                Enable = false
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "del",
                Text = "删除",
                //Enable=false
            });
        }
    </row>
    <row>
        <i-col span="8">
            <card>
                <p slot="title">列表信息</p>
                @RenderSection("search", false)
                <i-table highlight-row="true" size="small" border="true"
                         columns="screenParam.colDef" data="screenParam.dataDef"
                         v-on:on-current-change="showlist"></i-table>
            </card>
        </i-col>

        <i-col span="16">
            <card class="elementcard">
                <p slot="title">包含元素</p>
                @RenderSection("element", true)
            </card>
        </i-col>
    </row>

    <div class="hide">
        @RenderSection("hide", false)
    </div>
</div>


@section foot{
    @RenderSection("foot", false)
}