@inherits ViewBase<DefineRender>
@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Web.Areas.Layout.Define
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                    "Areas/Layout/Define/_DefineLayout.js"
                };
}
@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)
}

<div id="def_Main">
    <row class="topbutton">

        @{
            RenderControl(new ButtonRender()
            {
                Click = "seachList",
                Text = "查询",
                Enable = true,
                Type = "primary",
                Invisible = (Model?.Invisible_Srch).GetValueOrDefault(),
                Icon = "md-search"
            });
        }

        @{
            RenderControl(new ButtonRender()
            {
                Click = "add",
                Text = "新增",
                Enable = true,
                Type = "primary",
                Invisible = (Model?.Invisible_Add).GetValueOrDefault(),
                PermissionKey = Model?.Permission_Add,
                Icon = "md-add"
            });
        }
        <span v-show="topbtnModVisible">
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "mod",
                    Text = "修改",
                    Enable = true,
                    Type = "primary",
                    PermissionKey = Model?.Permission_Mod,
                    Icon = "md-create"
                });
            }
        </span>
        @{
            RenderControl(new ButtonRender()
            {
                Click = "save",
                Text = "存档",
                Enable = false,
                Type = "primary",
                //PermissionKey =Model?.Permission_Save,
                Icon = "md-checkmark-circle"
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "quit",
                Text = "放弃",
                Enable = false,
                Type = "warning",
                Icon = "md-close"
            });
        }
        @*@{
                RenderControl(new ButtonRender()
                {
                    Click = "del",
                    Text = "删除",
                    Enable= true,
                    Type = "error",
                    Icon = "md-trash"
                });
            }*@
        <span v-show="topbtnChkVisible">
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "chk",
                    Text = "审核",
                    Enable = true,
                    Type = "primary",
                    Invisible = (Model?.Invisible_Chk).GetValueOrDefault(),
                    PermissionKey = Model?.Permission_Chk,
                    Icon = "md-checkmark"
                });
            }
        </span>
    </row>
    <row>
        <i-col span="8">
            <div ref="tableHeight">
                <card style="height:100%">
                    @*<p slot="title">列表信息</p>*@
                    <div style="height:8%">
                        @RenderSection("search", false)
                    </div>
                    <i-table v-bind:highlight-row="true" size="small" v-bind:border="true" v-bind:height="tableH"
                             v-bind:columns="screenParam.colDef" v-bind:data="screenParam.dataDef"
                             v-on:on-current-change="showlist"></i-table>
                </card>
            </div>
        </i-col>
        <i-col span="16">
            <div ref="cardHeigth">
                <card class="elementcard" style="height:500px">
                    @*<p slot="title">包含元素</p>*@
                    @RenderSection("element", true)
                </card>
            </div>
        </i-col>
    </row>

    <div class="hide">
        @RenderSection("hide", false)
        @RenderSection("pops", false)
    </div>
</div>


@section foot{
    @RenderSection("foot", false)
}