@inherits ViewBase<dynamic>
@using z.ERP.Web.Areas.Share.Render
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                    "Areas/Layout/Tree/_TreeLayout.js"
                };
}
@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)
    <style>
        #treeDef {
            overflow: hidden;
            height:100%;
        }

            #treeDef .topMenuBtn {
                height:35px;
                text-align: right;
                line-height:35px;
                background: #2d8cf0;
                padding-right:10px;
            }

                #treeDef .topMenuBtn .ivu-btn {
                    color: #fff;
                }

                    #treeDef .topMenuBtn .ivu-btn:hover {
                        color: #000000;
                    }

            #treeDef .contentSplit {
                height: calc(100% - 35px);
                overflow: hidden;
                width: 100%;
            }

            #treeDef .ivu-split-pane {
                margin: 8px;
                overflow: auto;
            }
    </style>
}

<div id="treeDef" v-cloak>
    <div class="topMenuBtn">
        <yx-tool-bar v-bind:list="list" v-bind:disabled="disabled" v-bind:domdata="dataParam"></yx-tool-bar>
    </div>
    <div class="contentSplit">
        <Split v-model="splitVal">
            <div slot="left" class="leftPane">
                <yx-tree ref="treeRef" v-bind:data="data" v-on:onselectchange="onselectchange" v-bind:disabled="nodedisabled"></yx-tree>
            </div>
            <div slot="right" class="rightPane">
                @RenderSection("element", true)
            </div>
        </Split>
    </div>

    <div class="hide">
        @RenderSection("hide", false)
    </div>
</div>

@section foot{
    @RenderSection("foot", false)
}