@inherits ViewBase<dynamic>
@using z.ERP.Web.Areas.Share.Render
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                    "Content/VUE/styles/iview.css",
                    "Content/VUE/vue.js",
                    "Content/VUE/iview.js",
                    "Areas/Layout/Tree/_TreeLayout.js"
                };
}
@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)
}

<div id="def_Main">
    <row class="topbutton">
        @{
            RenderControl(new ButtonRender()
            {
                Click = "addtj",
                Text = "加同级"
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "addxj",
                Text = "加下级"
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "mod",
                Text = "修改",
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "save",
                Text = "存档",
                Enable = false
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "quit",
                Text = "放弃",
                Enable = false
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "del",
                Text = "删除",
                //Enable=false
            });
        }
    </row>
    <row>
        <i-col span="8">
            <card>
                <p slot="title">树信息</p>
                <Tree :data="screenParam.dataDef" v-on:on-select-change="showlist"></Tree>
            </card>
        </i-col>
        <i-col span="16">
            <card class="elementcard">
                <p slot="title">包含元素</p>
                @RenderSection("element", true)
            </card>
        </i-col>
    </row>

    <div class="hide">
        @RenderSection("hide", false)
    </div>
</div>


@section foot{
    @RenderSection("foot", false)
}