@inherits ViewBase<dynamic>
@using z.MVC5.Views
@{
    Layout = null;
}
@{
    WebFiles = new string[] {
    "Content/Login/reset.css",
    "Areas/Home/DefaultNew/DefaultNew.css",
    "Content/jquery.min.js",
    "Content/zBase.js",
    "Content/AjaxHelper.js",
    "Content/JsHelper.js",
    "Content/PageBase.js",
    "Content/VUE/styles/iview.css",
    "Content/VUE/vue.js",
    "Content/VUE/iview.js",
    "/Content/echarts.js",
    "Content/macarons.js"
    };
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <script type="text/javascript">
        __ControllerUrl = '@ViewBag.ControllerUrl';
        __CommonControllerUrl = '@ViewBag.CommonControllerUrl';
        __PortalBaseUrl = '@ViewBag.BaseUrl';
    </script>
    @InitFiles(WebFiles)
    
</head>
<body style="background: rgb(238, 238, 238)">
    <div id="main">
        <div id="top">
            <i-Switch v-model="Switch" size="large">
                <span slot="open">图表</span>
                <span slot="close">数据</span>
            </i-Switch>
            <i-Select v-model="branchid" size="small" style="width:8%;float:right;margin: 8px 10px 0px;" v-on:on-change="branchchange" placeholder="权限门店">
                <i-Option v-for="item in branchList" v-bind:value="item.Key" v-bind:key="item.Key">{{ item.Value }}</i-Option>
            </i-Select>
        </div>
        <div id="tablelist" v-show="!Switch">
            <Row style="background:#eee;padding:10px;height:260px">
                <i-col span="10">
                    <div id="box1">
                        <Card :bordered="false">
                            <p slot="title">经营总况</p>
                            <i-table size="small" :height="tableH" :disabled-hover="true"
                                     :columns="box1colDef" :data="box1dataDef"></i-table>
                        </Card>
                    </div>
                </i-col>               
                <i-col span="14" offset="1">
                    <div id="box3">
                        <Card :bordered="false">
                            <p slot="title">
                                品牌经营榜
                                <i-Select v-model="box3select" style="width:100px;float:right" size="small" v-on:on-change="box3datechange">
                                    <i-Option value="1">昨日</i-Option>
                                    <i-Option value="2">本月</i-Option>
                                    <i-Option value="3">上月</i-Option>
                                </i-Select>
                            </p>
                            <i-table size="small" :height="tableH" :disabled-hover="true"
                                     :columns="box3colDef" :data="box3dataDef">
                            </i-table>
                        </Card>
                    </div>
                </i-col>
            </Row>
            <Row style="background:#eee;padding:10px;height:260px">
                <i-col span="10">
                    <div id="box2">
                        <Card :bordered="false">
                            <p slot="title">店铺状态</p>
                            <i-table size="small" :height="tableH" :disabled-hover="true"
                                     :columns="box2colDef" :data="box2dataDef">
                            </i-table>
                        </Card>
                    </div>
                </i-col>
                <i-col span="14" offset="1">
                    <div id="box4">
                        <Card :bordered="false">
                            <p slot="title">
                                业态经营榜
                                <i-Select v-model="box4select" style="width:100px;float:right" size="small" v-on:on-change="box4datechange">
                                    <i-Option value="1">昨日</i-Option>
                                    <i-Option value="2">本月</i-Option>
                                    <i-Option value="3">上月</i-Option>
                                </i-Select>
                            </p>
                            <i-table size="small" :height="tableH" :disabled-hover="true"
                                     :columns="box4colDef" :data="box4dataDef">
                            </i-table>
                        </Card>
                    </div>
                </i-col>
            </Row>
        </div>
        <div id="echarts" v-show="Switch">
            <Row style="background:#eee;padding:10px;height:520px" >
                <i-col span="10">
                    <div id="echart1" style="height:520px"></div>
                </i-col>
                <i-col span="13" offset="1">
                    <div>
                        <Row style="padding:10px;">
                            <i-col span="24">
                                <div id="echart2" style="height:260px"></div>
                            </i-col>
                        </Row>
                        <Row style="padding:10px;">
                            <i-col span="24">
                                <div id="echart3" style="height:260px"></div>
                            </i-col>
                        </Row>
                    </div>
                </i-col>
            </Row>
        </div>
    </div>
</body>
</html>
@InitThisJs()