@inherits ViewBase<dynamic>
@using z.MVC5.Views
@{
    Layout = null;
}
@{
    WebFiles = new string[] {
    "Content/Login/reset.css",
    "Areas/Home/DefaultNew/DefaultNew.css",
    "Content/jquery.min.js",
    "Content/zBase.js",
    "Content/AjaxHelper.js",
    "Content/JsHelper.js",
    "Content/PageBase.js",
    "Content/VUE/styles/iview.css",
    "Content/VUE/vue.js",
    "Content/VUE/iview.js",
    };
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script type="text/javascript">
        __ControllerUrl = '@ViewBag.ControllerUrl';
        __CommonControllerUrl = '@ViewBag.CommonControllerUrl';
        __PortalBaseUrl = '@ViewBag.BaseUrl';
    </script>
    @InitFiles(WebFiles)
    @InitThisJs()

</head>
<body>
    <div id="main">
        <Row style="background:#eee;padding:20px;height:400px">
            <i-col span="6">
                <Card>
                    <p slot="title">经营总况</p>
                    <Table columns="columns1" data="data1"></Table>
                </Card>
            </i-col>
            <i-col span="6" offset="1">
                <Card :bordered="false">
                    <p slot="title">店铺状态</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                </Card>
            </i-col>
            <i-col span="10" offset="1">
                <Card :bordered="false">
                    <p slot="title">
                        商铺经营榜
                        <i-Select style="width:100px;float:right" placeholder="昨日">
                            <i-Option value="1" selected="selected">昨日</i-Option>
                            <i-Option value="2">今日</i-Option>
                        </i-Select>
                    </p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                </Card>
            </i-col>
        </Row>
        <Row style="background:#eee;padding:20px;height:400px">
            <i-col span="6">
                <Card :bordered="false">
                    <p slot="title">待处理任务</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                </Card>
            </i-col>
            <i-col span="6" offset="1">
                <Card :bordered="false">
                    <p slot="title">预警</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                </Card>
            </i-col>
            <i-col span="10" offset="1">
                <Card :bordered="false">
                    <p slot="title">
                        业态经营榜
                        <i-Select style="width:100px;float:right" placeholder="昨日">
                            <i-Option value="1" selected="selected">昨日</i-Option>
                            <i-Option value="2">今日</i-Option>
                        </i-Select>
                    </p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                </Card>
            </i-col>
        </Row>
    </div>
</body>
</html>
<script>
    new Vue({
        el: '#main',
        data: {

        },
        methods: {
        }
    })
</script>