@inherits ViewBase<SearchRender>
@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Web.Areas.Layout.Search
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                    "Areas/Layout/Search/SearchStyle.css",
                    "Areas/Layout/Search/_SearchLayout.js",
                };
}
@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)
}

<div id="search">
    <collapse v-model="panelName">
        <panel name="condition">
            查询条件
            <div style="float: right; width: 400px ;text-align: right;z-index:99">
                @{
                    RenderControl(new ButtonRender()
                    {
                        Click = "seach",
                        Text = "查询",
                        Enable = true,
                        Type = "primary",
                        Icon = "md-search"
                    });
                }
                @{
                    RenderControl(new ButtonRender()
                    {
                        Click = "clear",
                        Text = "清空",
                        Enable = true,
                        Type = "primary",
                        Icon = "md-refresh"
                    });
                }

                @{
                    RenderControl(new ButtonRender()
                    {
                        Click = "add",
                        Text = "新增",
                        Enable = true,
                        Type = "primary",
                        PermissionKey = Model?.Permission_Add,
                        Icon = "md-add"
                    });
                }

                @{
                    RenderControl(new ButtonRender()
                    {
                        Click = "del",
                        Text = "删除",
                        Enable = true,
                        Type = "error",
                        PermissionKey = Model?.Permission_Del,
                        Icon = "md-trash"
                    });
                }

                @RenderSection("conditionBtn", false)
            </div>
            <div slot="content" class="searchParamContent">
                @*查询条件*@
                @RenderSection("conditionParam", true)
            </div>
        </panel>
        <panel name="result">
            查询结果
            <div style="float: right; width: 400px ;text-align: right;">
                @*@{
                    RenderControl(new ButtonRender()
                    {
                        Click = "exp",
                        Text = "导出",
                        Enable = true,
                        Type = "primary",
                        Icon = "md-download"
                    });
                }
                @{
                    RenderControl(new ButtonRender()
                    {
                        Click = "print",
                        Text = "打印",
                        Enable = true,
                        Type = "primary",
                        Icon = "md-print"
                    });
                }*@
                @*增加结果按钮*@
                @RenderSection("resultBtn", false)
            </div>
            <div slot="content">
                @*结果显示*@
                <yx-table v-bind:columns="columns" selection=true
                          v-bind:data="data" v-bind:loading="tbLoading" ref="selectData">
                </yx-table>
                <page v-bind:total="pagedataCount" v-bind:page-size="pageSize" show-total
                      v-bind:current="currentPage"
                      v-on:on-change="changePageCount" v-bind:page-size-opts="arrPageSize"
                      show-sizer v-on:on-page-size-change="changePageSizer"></page>

                @RenderSection("resultOthers", false)
            </div>
        </panel>
    </collapse>
    @RenderSection("hide", false)
    @RenderSection("pops", false)

</div>

@section foot{
    @RenderSection("foot", false)
}