@inherits ViewBase<SearchRender>
@using z.ERP.Web.Areas.Layout.Search
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                    "/Content/echarts.js",
                    "Areas/Layout/Search/SearchStyle.css",
                    "Areas/Layout/Search/_SearchLayout.js",
                };
}
@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)
}

<div id="search" v-cloak>
    <Spin size="large" fix v-if="spinShow">审核执行中。。。</Spin>
    <collapse v-model="panelName">
        <panel name="panelOne">
            查询条件
            <div style="float: right; width: calc(100% - 160px) ;height:100%;text-align: right;line-height: initial;padding-right: 10px;">
                <yx-tool-bar v-bind:list="toolBtnList"></yx-tool-bar>
            </div>
            <div slot="content" class="searchParamContent">
                @*查询条件*@
                @RenderSection("conditionParam", true)
            </div>
        </panel>
        <panel name="panelTwo" v-if="panelTwoShow">
            {{panelTwoName}}
            <div slot="content">
                @RenderSection("panelTwoContent", false)
            </div>
        </panel>
        <panel name="panelThree">
            查询结果
            <div slot="content">
                @*结果显示*@
                <yx-table v-bind:columns="columns" v-bind:selection="selectionShow" v-bind:height="450" v-bind:showindex="indexShow"
                          v-bind:data="data" v-bind:loading="tbLoading" ref="selectData">
                </yx-table>
                <page v-bind:total="pagedataCount" v-bind:page-size="pageSize" show-total
                      v-bind:current="currentPage"
                      v-on:on-change="changePageCount" v-bind:page-size-opts="arrPageSize"
                      show-sizer v-on:on-page-size-change="changePageSizer"></page>

                @RenderSection("resultOthers", false)
            </div>
        </panel>
    </collapse>

    <yx-upload v-bind:open.sync="importOpen" v-bind:name="uploadName"></yx-upload>

    <yx-modal v-bind:src="popConfig.src" v-bind:title="popConfig.title"
              v-bind:width="popConfig.width" v-bind:height="popConfig.height"
              v-bind:visible.sync="popConfig.open"></yx-modal>

    @RenderSection("hide", false)
    @RenderSection("pops", false)

</div>

@section foot{
    @RenderSection("foot", false)
}