@inherits ViewBase<dynamic>
@using z.MVC5.Views
@{
    Layout = null;
}
@{
    WebFiles = new string[] {
    "Content/Login/reset.css",
    "Content/Login/style.css",
    "Areas/Home/Default/Default.css",
    "Content/Login/supersized.css",
    "Content/jquery.min.js",
    "Content/zBase.js",
    "Content/AjaxHelper.js",
    "Content/JsHelper.js",
    "Content/PageBase.js",
    "Content/Login/supersized.3.2.7.min.js",
    "/Content/echarts.js",
    "/Content/echarts-wordcloud.js",
    };
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script type="text/javascript">
        __ControllerUrl = '@ViewBag.ControllerUrl';
        __CommonControllerUrl = '@ViewBag.CommonControllerUrl';
        __PortalBaseUrl = '@ViewBag.BaseUrl';
    </script>
    @InitFiles(WebFiles)
    @InitThisJs()
</head>
<body>
    <div id="main">
        <!-- 刷新 -->
        @*<div id="refresh">
                <span id="refreshTime">最后刷新时间：2018-05-06 23:13.24</span>
            </div>*@

        @*<div id="orderStatus"></div>
            <div class="contentButton" style="top:822px;left:453px">
                <a class="a1" href="javascript:void(0);" onclick="javascript:openDialog('modalDlg');">&nbsp;</a>
            </div>


            <div id="productPie"></div>

            <div id="businessProgress"></div>
            <div class="contentButton" style="top:822px;left:3679px">
                <a class="a1" href="javascript:void(0);">&nbsp;</a>
            </div>*@

        <div id="plan"></div>

        <div id="quality"></div>

    </div>
</body>
</html>
