@inherits ViewBase<dynamic>
@using z.ERP.Web.Areas.Share.Render
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                };
}

@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)

<style>
    #List_Main {
        overflow: hidden;
        height: 100%;
    }

        #List_Main .topMenuBtn {
            height: 35px;
            text-align: left;
            line-height: 35px;
            background: #2d8cf0;
            padding-left: 10px;
        }
         #List_Main .contentDiv {
                height: calc(100% - 35px);
                overflow: hidden;
                width: 100%;
            }
</style>

}


<div id="List_Main">
    <div class="topMenuBtn">
        @RenderSection("btn", false)
    </div>
    <div class="contentDiv">
        <card>
            @RenderSection("content", true)
        </card>
    </div>
</div>

@section foot{
    @RenderSection("foot", false)
}