@using z.ERP.Web.Areas.Share.Render
@inherits z.MVC5.Views.ControlViewBase<DropDownListRender>

<select>
    @{
        if (!Model.EmptyText.IsEmpty())
        {
            <option value="">@Model.EmptyText</option>
        }
        foreach (var item in Model.Data)
        {
            if (item.IsSelected || item.Key == Model.Value)
            {
                <option value="@item.Key" selected="selected">@item.Value</option>
            }
            else
            {
                <option value="@item.Key">@item.Value</option>
            }
        }
    }
</select>