@using z.ERP.Web.Areas.Share.Render
@inherits z.ERP.Web.Areas.Share.ControlViewBase<PopRender>

<Modal v-model="@Model.vModel" width="@Model.Width">
    @switch (Model.PopLx)
    {
        case "Contract":
            <Contract v-on:setdialog="@Model.CallBack" v-bind:parenttochild="@Model.ParentObj"></Contract>
            break;
        case "Merchant":
            <Merchant v-on:setdialog="@Model.CallBack" v-bind:parenttochild="@Model.ParentObj"></Merchant>
            break;
        case "Brand":
            <Brand v-on:setdialog="@Model.CallBack" v-bind:parenttochild="@Model.ParentObj"></Brand>
            break;
    }
    
    <p slot="header" style="text-align:center" name="header">
        <span>@Model.Caption</span>
    </p>
    <div style="text-align:center">
    </div>
    <div slot="footer" name="header">
    </div>
</Modal>
