@using z.ERP.Web.Areas.Share.Render
@inherits z.ERP.Web.Areas.Share.ControlViewBase<PopRender>

<Modal v-model="@Model.vModel" width="@Model.Width">
    @*<"@Model.PopLx" v-on:setdialog="@Model.CallBack" v-bind:parenttochild="@Model.ParentObj"></"@Model.PopLx">*@

    <Contract v-on:setdialog="@Model.CallBack" v-bind:parenttochild="@Model.ParentObj"></Contract>
        <p slot="header" style="color:#f60;text-align:center">
            <Icon type="information-circled"></Icon>
            <span>@Model.Caption</span>
        </p>
        <div style="text-align:center">
        </div>
        <div slot="footer">
        </div>
</Modal>
