@inherits z.MVC5.Views.DefineViewBase
@using z.ERP.Web.Areas.Share.Render

@{
    WebFiles = new string[] {
                    "Content/VUE/styles/iview.css",
                    "Content/VUE/vue.js",
                    "Content/VUE/iview.js",
                    "Content/LayOut/_DefineLayout.js"
                };
}

@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)
}
<style>
    .RowTitle {
        text-align: right;
        font-size: large;
    }
</style>

<div id="def_Main">
     <row>
         
         @{
             RenderControl(new ButtonRender()
             {
                 Click = "add",
                 Text = "添加"
             });
         }
         <span>|</span>
         @{
             RenderControl(new ButtonRender()
             {
                 Click = "save",
                 Text = "保存"
             });
         }
         <span>|</span>
         @{
             RenderControl(new ButtonRender()
             {
                 Click = "del",
                 Text = "删除"
             });
         }
     </row>

     <row>
         <i-col span="8">
             <card bordered="false">
                 <p slot="title">列表信息</p>
                 @RenderSection("list", true)
             </card>
         </i-col>

        <i-col span="16">
           <card :bordered="false">
              <p slot="title">包含元素</p>
              @RenderSection("element", true)
           </card>
        </i-col>
     </row>
</div>

@section foot{
    @RenderSection("foot", false)
}