@inherits z.MVC5.Views.ViewBase<dynamic>
@{
    Layout = null;
}
@{
    WebFiles = new string[] {
            "Content/Base.css",
            "Content/jquery.min.js",
            "Content/zBase.js",
            "Content/AjaxHelper.js",
            "Content/JsHelper.js",
            "Content/PageBase.js",
            "Content/VUE/styles/iview.css",
            "Content/VUE/vue.js",
            "Content/VUE/iview.js",
            "Content/components/common.js"
        };
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        document.domain = '@ViewBag.Domain';
        __ControllerUrl = '@ViewBag.ControllerUrl';
        __CommonControllerUrl = '@ViewBag.CommonControllerUrl';
        __BaseUrl = '@ViewBag.BaseUrl';
    </script>
    @InitFiles(WebFiles)
    @RenderSection("head", false)
    <title>@ViewBag.Title</title>

    <script id="unEditTable" type="x-template">
        <div style="width:100%;height:100%;">
            <div style="width:100%;height:100%;float:left;">
                <i-table v-bind:columns="columnsDef"
                         v-bind:data="data"
                         v-bind:stripe="stripe"
                         v-bind:show-header="showHeader"
                         v-bind:border="border"
                         v-bind:width="width"
                         v-bind:height="height"
                         v-bind:max-height="maxHeight"
                         v-bind:loading="loading"
                         v-bind:highlight-row="highlightRow"
                         v-bind:size="size"
                         v-bind:draggable="draggable"
                         v-bind:tooltipTheme="tooltipTheme"
                         v-on:on-drag-drop="onDragDrop"
                         v-on:on-current-change="currentChange"
                         v-on:on-sort-change="sortChange"
                         v-on:on-row-click="rowClick"
                         v-on:on-row-dblclick="rowDblClick">
                </i-table>
            </div>
            <div style="width:0;height:100%;float:right;" v-if="columns.length>0">
                <Poptip placement="left" trigger="hover" style="margin-left:-20px;margin-top:5px;">
                    <Icon type="md-settings" />
                    <div slot="content">
                        <CheckboxGroup v-model="visibleCols" v-on:on-change="checkBoxChange">
                            <ul style="text-align: left;">
                                <li v-for="(i,k) in columns" key="k"><Checkbox v-bind:label="i.title">{{i.title}}</Checkbox></li>
                            </ul>
                        </CheckboxGroup>
                    </div>
                </Poptip>
            </div>
        </div>
    </script>
</head>
<body>
    @RenderBody()
    @InitThisJs()
    @RenderSection("foot", false)
</body>
</html>
