@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Detail;
@using z.ERP.Entities;
@using z.Extensions;
@using z.ERP.Entities.Enum
@using System.Data
@inherits DetailLayout<dynamic>

@section Title{
    @Html.Raw("详情");
}

@{
    var adjust = ViewBag.Invoice;
}

@section content{
    <row>
        <i-col span="2" class="RowTitle">编号</i-col>
        <i-col span="4">
            <i-input v-model="BILLID" readonly="true"></i-input>
        </i-col>
    </row>
    <row>
    <i-col span="2" class="RowTitle"><span class="mustElement">*</span> 发票号码</i-col>
    <i-col span="6">
        <i-input v-model="INVOICENUMBER" readonly="true"></i-input>
    </i-col>
    <i-col span="2" class="RowTitle">
        <span class="mustElement">*</span>
        发票类型
    </i-col>
    <i-col span="6">
        <i-input v-model="TYPE" readonly="true"></i-input>
    </i-col>
    <i-col span="2" class="RowTitle">
        <span class="mustElement">*</span> 商户
    </i-col>
    <i-col span="2" class="RowTitle">
        <i-input v-model="MERCHANTID" readonly="true"></i-input>
    </i-col>
    <i-col span="4" class="RowTitle">
        <i-input v-model="MERCHANTNAME" readonly="true"></i-input>
    </i-col>
</row>
<row>
    <i-col span="2" class="RowTitle"><span class="mustElement">*</span> 发票金额</i-col>
    <i-col span="6">
        <i-input v-model="INVOICEAMOUNT" readonly="true"></i-input>
    </i-col>
    <i-col span="2" class="RowTitle"><span class="mustElement">*</span> 增值税金额</i-col>
    <i-col span="6">
        <i-input v-model="VATAMOUNT" readonly="true"></i-input>
    </i-col>
    <i-col span="2" class="RowTitle">
        <span class="mustElement">*</span>
        开票日期
    </i-col>
    <i-col span="6">
        <i-input v-model="INVOICEDATE" readonly="true"></i-input>
    </i-col>
</row>
<row>
    <i-col span="2" class="RowTitle">录入人</i-col>
    <i-col span="6">
        <i-input v-model="CREATENAME" readonly="true"></i-input>
    </i-col>
</row>

}
@section foot{
    <script type="text/javascript">
        var ve = new Vue({
            el: '#detail_Main',
            data: {
                Mainpanel: 'condition',
                disabled: true,
                BILLID: "@adjust.INVOICEID",
                INVOICENUMBER:"@adjust.INVOICENUMBER",
                TYPE:"@adjust.TYPENAME",
                MERCHANTID:"@adjust.MERCHANTID",
                MERCHANTNAME:"@adjust.MERCHANTNAME",
                INVOICEAMOUNT:"@adjust.INVOICEAMOUNT",
                VATAMOUNT:"@adjust.VATAMOUNT",
                INVOICEDATE:"@adjust.INVOICEDATE",
                CREATENAME:"@adjust.CREATENAME",
            },
            mounted: function () {
                @*var _self = this;
                _.Ajax('ShowOneInvoiceEdit', {
                    Data: { INVOICEID: @adjust.BILLID }
                }, function (data) {
                    Vue.set(ve.dataParam, 'TYPE', parseInt(data.Invoice.TYPE));
                    Vue.set(ve.dataParam, data.Invoice);
                });*@
            },
            methods: {
            }
        });
    </script>
}


