@inherits ViewBase<dynamic>
@using z.ERP.Web.Areas.Share.Render
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
            "Areas/Layout/PopSearch/_PopSearchLayout.js",
            "Areas/Layout/PopSearch/PopSearchStyle.css"
        };
}
@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)
}

<div id="popSearch" v-cloak>
    <collapse v-model="panelName">
        <panel name="condition">
            查询条件
            <div style="float: right; width: 400px ;text-align: right;margin-right:10px;">
                <i-button type="text" shape="circle" icon="md-search" v-on:click="seach">查询</i-button>
                <i-button type="text" shape="circle" icon="md-checkmark" v-on:click="qr">确认</i-button>
                <i-button type="text" shape="circle" icon="md-refresh" v-on:click="clear">清空</i-button>
               
                @RenderSection("conditionBtn", false)
            </div>
            <div slot="content" class="popParamContent">
                @*查询条件*@
                @RenderSection("conditionParam", true)
            </div>
        </panel>
        <panel name="result">
            查询结果
            <div style="float: right; width: 400px ;text-align: right;margin-right:10px;">
                @*增加结果按钮*@
                @RenderSection("resultBtn", false)
            </div>
            <div slot="content" class="popResContent">
                @*结果显示*@
                <yx-table v-bind:columns="columns" v-bind:data="data" height="400" ref="selectData" 
                          v-bind:loading="tbLoading" v-on:rowdblclick="rowdblclick" selection=true>
                </yx-table>
                <page v-bind:total="pagedataCount" v-bind:page-size="pageSize" show-total
                      v-bind:current="currentPage"
                      v-on:on-change="changePageCount" v-bind:page-size-opts="arrPageSize"
                      show-sizer v-on:on-page-size-change="changePageSizer"></page>
                @RenderSection("resultOthers", false)
            </div>
        </panel>
    </collapse>
    @RenderSection("hide", false)
    @RenderSection("pops", false)
</div>

@section foot{
    @RenderSection("foot", false)
}