@inherits ViewBase<dynamic>
@using z.ERP.Web.Areas.Share.Render
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
            "Areas/Layout/PopSearch/_PopSearchLayout.js"
        };
}
@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)
}

<div id="search">
    <collapse v-model="panelName">
        <panel name="condition">
            查询条件
            <div style="float: right; width: 400px ;text-align: right;">
                @{
                    RenderControl(new ButtonRender()
                    {
                        Click = "seach",
                        Text = "查询",
                        Enable = true,
                        Type = "text",
                        Icon = "md-search"
                    });
                }
                @{
                    RenderControl(new ButtonRender()
                    {
                        Click = "qr",
                        Text = "确认",
                        Enable = true,
                        Type = "text",
                        Icon = "md-checkmark"
                    });
                }
                @{
                    RenderControl(new ButtonRender()
                    {
                        Click = "clear",
                        Text = "清空",
                        Enable = true,
                        Type = "text",
                        Icon = "md-refresh"
                    });
                }
                @RenderSection("conditionBtn", false)
            </div>
            <div slot="content" class="popParamContent">
                @*查询条件*@
                @RenderSection("conditionParam", true)
            </div>
        </panel>
        <panel name="result">
            查询结果
            <div style="float: right; width: 400px ;text-align: right;">
                @*增加结果按钮*@
                @RenderSection("resultBtn", false)
            </div>
            <div slot="content">
                @*结果显示*@
                <yx-table v-bind:columns="columns" v-bind:data="data" v-bind:height="240" ref="selectData" selection=true>
                </yx-table>
                @RenderSection("resultOthers", false)
            </div>
        </panel>
    </collapse>
    @RenderSection("hide", false)
    @RenderSection("pops", false)
</div>

@section foot{
    @RenderSection("foot", false)
}