@inherits ViewBase<dynamic>
@using z.MVC5.Views
@{
    Layout = null;
}
@{
    WebFiles = new string[] {
                    "Content/Index/layui/css/layui.css",
                    "Content/jquery.min.js",
                    "Content/Index/layui/layui.js",
                    "Content/Index/layui/layer.js",
                    "Content/zBase.js",
                    "Content/AjaxHelper.js",
                    "Content/JsHelper.js",
                    "Content/PageBase.js",
                };
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>admin</title>
    <script type="text/javascript">
        document.domain = '@ViewBag.Domain';
        __ControllerUrl = '@ViewBag.ControllerUrl';
        __CommonControllerUrl = '@ViewBag.CommonControllerUrl';
        __BaseUrl = '@ViewBag.BaseUrl';
    </script>
    @InitFiles(WebFiles)
    @InitThisJs()
</head>
<body>
    <div class="layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">logo</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="javascript:void(0)">购物中心</a></li>
                <li class="layui-nav-item"><a href="javascript:;">会员系统</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href=""><img src="" class="layui-nav-img">个人信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">重置密码</a></dd>
                        <dd><a href="">重新登陆</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" id="taburl" lay-filter="hbkNavbar"></ul>
            </div>
        </div>


        <div class="layui-body" id="container">
            <div class="layui-tab" lay-filter="yxadmin" lay-allowClose="true">
                <ul class="layui-tab-title">
                    <li class="layui-this">首页</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">驾驶舱信息待处理</div>
                </div>
            </div>
        </div>

        <div class="layui-footer">
            <center>版权&copy;Tel:110</center>
        </div>
    </div>
</body>

</html>
