@inherits ViewBase<dynamic>
@using z.MVC5.Views
@{
    Layout = null;
}
@{
    WebFiles = new string[] {
                    "Content/Index/layui/css/layui.css",
                    "Content/jquery.min.js",
                    "Content/Index/layui/layui.js",
                    "Content/Index/layui/layer.js",
                    "Content/zBase.js",
                    "Content/AjaxHelper.js",
                    "Content/JsHelper.js",
                    "Content/PageBase.js",
                };
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>admin</title>
    <script type="text/javascript">
        document.domain = '@ViewBag.Domain';
        __ControllerUrl = '@ViewBag.ControllerUrl';
        __CommonControllerUrl = '@ViewBag.CommonControllerUrl';
        __BaseUrl = '@ViewBag.BaseUrl';
    </script>
    @InitFiles(WebFiles)
    @InitThisJs()
</head>
<body class="layui-layout-body">

    <div class="layui-tab layui-tab-card site-demo-button" style="position: relative;">
        <ul class="layui-nav layui-nav-tree layui-nav-side" id="taburl"></ul>

        <div class="layui-tab" lay-filter="yxadmin" lay-allowclose="true" style="margin-left: 200px;">
            <ul class="layui-tab-title"></ul>
            <ul class="rightmenu" style="display: none;position: absolute;">
                <li data-type="closethis">关闭当前</li>
                <li data-type="closeall">关闭所有</li>
            </ul>
            <div class="layui-tab-content">
            </div>
        </div>

    </div>
</body>

</html>
